# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Force Xcode 11
      run: sudo xcode-select -switch /Applications/Xcode.app
    - name: Run tests
      run: xcodebuild clean test -project "NavTabBar-HW.xcodeproj" -scheme "NavTabBar-HW" -destination "platform=iOS Simulator,name=iPhone 11 Pro Max,OS=latest"
    - name: Build
      run: xcodebuild clean test -project "NavTabBar-HW.xcodeproj" -scheme "NavTabBar-HW" -destination "platform=iOS Simulator,name=iPhone 11 Pro Max,OS=latest"
